.dt-task-row {
  vertical-align: center;
}

.late {
  color: rgba(200, 50, 50, 1);
}

.on-time {
  color: rgba(50, 150, 50, 1);
}

.dt-completed {
  color: rgba(0, 0, 0, 0.3);
}

.dt-buffer-time {
  color: rgba(128, 128, 128, 1);
}

.dt-progress-bar {
  height: 10px;
  width: 0;
  background-color: #4caf50;
}

.dt-progress-bar-overdue {
  background-color: #e55a16;
}

.dt-progress-bar-container {
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

.dt-table {
  padding: 10px;
  margin: auto;
  -webkit-border-horizontal-spacing: 0px;
}

.dt-content {
  display: block;
  overflow: auto;
}

.dt-button-container {
  display: flex;
  position: sticky;
  top: 10px;
}

.dt-button-container button {
  flex: 1;
}

.dt-button {
  border-radius: 0;
  cursor: pointer;
}
