.late {
    background-color: rgba(255, 0, 0, 0.3);
}

.on-time {
    background-color: rgba(0, 255, 0, 0.3);
}
.dt-buffer-time {
    background-color: rgba(128, 128, 128, 0.3);
}

.dt-progress-bar {
    height: 10px;
    width: 0;
    background-color: #4CAF50;
}
