.on-time td,
.late td {
	vertical-align: text-top;
}

.late {
	background-color: rgba(255, 0, 0, 0.3);
}

.on-time {
	background-color: rgba(0, 255, 0, 0.3);
}

.dt-completed {
	color: rgba(0, 0, 0, 0.3);
}

.dt-buffer-time {
	background-color: rgba(128, 128, 128, 0.3);
}

.dt-progress-bar {
	height: 10px;
	width: 0;
	background-color: #4caf50;
}

.dt-progress-bar-overdue {
	background-color: #e55a16;
}

.dt-progress-bar-container {
	position: sticky;
	top: 0;
	background-color: #ffffff;
}

.dt-table {
	padding: 10px;
	-webkit-border-horizontal-spacing: 0px;
}

.dt-content {
	display: block;
	overflow: auto;
}

.dt-button-container {
	display: flex;
	position: sticky;
	top: 10px;
}

.dt-button-container button {
	flex: 1;
}

.dt-button {
	border-radius: 0;
	cursor: pointer;
}
